#Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
ENV/
.venv/

# Variables de entorno
.env

# Base de datos
db.sqlite3
*.sqlite3

# Archivos estáticos y media
/staticfiles/
/media/

# Archivos de distribución
build/
dist/
*.egg-info/

# Logs
*.log

# IDEs y editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db